button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 200px;
  height: 41px;
  background-color: var(--buttonColor);
  color: var(--colorWhite);
  cursor: pointer;
  transition: 300ms;
}
button:hover {
  background-color: var(--buttonColorHover);
}
